name = "cayman-weather-worker-dev"
main = "./src/index.ts"
compatibility_date = "2023-09-04"
minify = true
usage_model = "bundled"
workers_dev = false
logpush = false

[dev]
ip = "localhost"
local_protocol = "http"
port = 61024

[vars]
ENVIRONMENT = "dev"

[env.production]
name = "cayman-weather-worker-dev"
usage_model = "bundled"

# In this example, you'll need to make a AAAA record for 100:: on caymanweather.aimoda.dev
# e.g. go to https://dash.cloudflare.com/6873d51718aa43a6389a532434554150/aimoda.dev/dns/records if you worked for us.
routes = [
  { pattern = "https://caymanweather.aimoda.dev/*", zone_name = "aimoda.dev" }
]
logpush = true

[env.production.vars]
ENVIRONMENT = "production"
